:root {
  --branding-color: #ebebeb;
  --button-color: #f23232;
  --heading-font: "DM Serif Display", serif;
  --default-font: "Montserrat", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--heading-font);
  margin: 0;
}
h1 {
  font-size: 50px;
}
h3 {
  font-size: 27px;
}
p {
  font-size: 16px;
  line-height: 1.5;
  font-family: var(--default-font);
}
.content a {
  text-decoration: none;
  color: #000;
  margin: 0;
}
.content a:hover {
  color: var(--button-color);
}
.hero {
  padding: 100px;
  margin-top: 100px;
  background-color: var(--branding-color);
}
.hero h1 {
  font-size: 80px;
}
.hero h2,
.content-container h2 {
  font-size: 25px;
}

.hero p {
  font-size: 55px;
}

/*font-family: 'Josefin Slab', serif;
font-family: 'Lato', sans-serif;*/
.btn-main {
  background-color: var(--button-color);
  color: #fff;
  padding: 20px 40px;
  font-size: 16px;
  font-weight: normal;
  font-family: var(--default-font);
  border-radius: 0;
}

.content-container {
  padding: 150px;
}

.content {
  margin: 20px;
}
@media (max-width: 1200px) {
  .container {
    text-align: center;
  }
  .hero {
    padding: 60px;
    text-align: center;
  }
  .hero h1 {
    font-size: 50px;
    margin-bottom: 30px;
  }
  .hero p {
    font-size: 20px;
  }
  .btn-main {
    display: block;
  }

  .content-container {
    text-align: center;
    padding: 100px 20px;
  }
  .contacts {
    text-align: center;
  }
}
@media (min-width: 900px) {
  .contacts-heading {
    text-align: left;
  }
}
